<template>
    <div id="visualsearch-get-credentials">
        <p class="gc-1">
        <a href="https://www.visualsearch.at/index.php/credentials" target="_blank" rel="noopener">
            {{ $tc("vis-get-credentials.title") }}
        </a>
        </p>
    </div>
</template>
