<template>
    <div id="visualsearch-support">
        <h2 class="visualsearch-title">{{ $tc("vis-support.documentation") }}</h2>
        <p>{{ $tc("vis-support.read_docs") }}:</p>
        <p class="mt-1">{{ $tc("vis-support.for_developers") }}:
            <a href="https://github.com/VisualSearch-GmbH/VisVisuallySearchProducts" target="_blank" rel="noopener">
                VisualSearch Github
            </a>
        </p>
        <h2 class="mt-2">{{ $tc("vis-support.contact") }}</h2>
        <p>
            {{ $tc("vis-support.visualsearch_assistance_integration_team") }}
        </p>
        <ul class="visualsearch-ul-none">
            <li>
                {{ $tc("vis-support.telephone") }}:
                <a href="tel:+43 670 6017118">
                    +43 670 6017118
                </a>
            </li>
            <li>
                {{ $tc("vis-support.e-mail") }}:
                <a href="mailto:office@visualsearch.at">
                    office@visualsearch.at
                </a>
            </li>
        </ul>
    </div>

</template>
